*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    font-weight: 300;
}
.para{
    margin-bottom: 30px;
}
p{
    display: block;
    text-align: center;
}
.message{
    font-size: 108px;
    font-weight: bold;
    color: #FFEB3B;
}
.start-btn{
    background-color: #4caf50;
    color:#fff;
}
button[disabled]{
    background-color: #9E9E9E;
    cursor: not-allowed;
}
.click-btn{
    background-color:#F44336;;
    color:#fff;
    /* display: none; */
}

button{
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 40px;
    margin:0 5px;
}
